@{
    ViewData["Title"] = "Home Page";
}
<!--========== PAGE LAYOUT ==========-->
<!-- Check url -->
<div id="checkUrl">
    <div class="content-lg">
        <div class="container">
            <div style="text-align: center;">
                <div class="row">
                    <span style="font-size: 30px">LOGO</span>
                </div>
                <div>
                    <p style="font-size: 20px">Es esta página segura o es phising?</p>
                </div>
            </div>
            <form action="/" method="post" novalidate="novalidate">
                <div class="input-group">
                    <input autocapitalize="off"
                           autocorrect="off"
                           class="form-control text-search-input"
                           data-val="true"
                           data-val-maxlength="The field Account must be a string or array type with a maximum length of '255'."
                           data-val-minlength="The field Account must be a string or array type with a minimum length of '3'."
                           data-val-maxlength-max="255"
                           data-val-minlength-min="5"
                           id="urlSearch"
                           name="urlSearch"
                           placeholder="http://example.com"
                           spellcheck="false"
                           type="url"
                           value="">
                    <span class="input-group-btn">
                        <button class="search-link-button btn-lg" type="button" id="searchButton">Buscar</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Check url -->
<!-- About us -->
<div id="about">
    <div class="content-lg container">
        <div class="row margin-b-40">
            <div class="col-sm-6">
                <h2>About us</h2>
                <p>Hemos creado esta simple url para que cualquier usuario pueda verificar si la url a la que intenta acceder con motivo del coronavirus es segura o intenta robar sus datos.</p>
            </div>
        </div>
        <!--// end row -->

        <div class="row">
            <!-- About Diego -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive" src="img/970x647/01.jpg" alt="Diego">
                </div>
                <h4>Diego<span class="text-uppercase margin-l-20">Architecture</span></h4>
                <p>Resumen rápido de qué ha aportado a este pequeño proyecto</p>
            </div>
            <!-- End About Diego -->
            <!-- About Andrea -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive" src="img/970x647/02.jpg" alt="Andrea">
                </div>
                <h4>Andrea<span class="text-uppercase margin-l-20">Frontend</span></h4>
                <p>Resumen rápido de qué ha aportado a este pequeño proyecto: front end developer etc</p>
            </div>
            <!-- End Latest Products -->
            <!-- About Lucas -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive" src="img/970x647/03.jpg" alt="Lucas">
                </div>
                <h4>Lucas<span class="text-uppercase margin-l-20">Backend</span></h4>
                <p>Resumen rápido de qué ha aportado a este pequeño proyecto: back end developer etc</p>
            </div>
            <!-- End About Lucas -->
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End About us -->
<!-- About us -->
<div id="about">
    <div class="content-lg container">
        <div class="row margin-b-40">
            <div class="col-sm-6">
                <h2>AQUI HABRÁ</h2>
                <p>UN FORMULARIO </p>
            </div>
        </div>
    </div>
</div>
<!--========== END PAGE LAYOUT ==========-->