@{
    ViewData["Title"] = "Home Page";
}

<!-- About us -->
<div id="about">
    <div class="content-lg container">
        <div class="row margin-b-40">
            <div class="col-sm-12">
                <h2>About us</h2>
                <p>The challenge was to fight phishing themed emails and links containing malicious/suspicious domains. 
                As not everyone have the knowledge to analyse the reputation of these domains we have created DROPi, a web-based or Firefox/Chrome extension for your browser that will pop up an alarm 
                if one of the domains we collect is visited, and will alert the user to proceed with extra caution.</p>
            </div>
        </div>
        <!--// end row -->

        <div class="row">
            <!-- About Diego -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive" src="img/970x647/01.png" alt="Diego">
                </div>
                <h4>Diego<span class="text-uppercase margin-l-20">Cyber Security Analyst</span></h4>
                <p>I like cats, anime, infosec and everything in between.</p>
                <div class="icons">
                    <a href="https://twitter.com/bash_vash"><img class="icon" src="~/img/icons/tw-icon.png" /></a>
                    <a href="https://www.linkedin.com/in/diego-valero/"><img class="icon" src="~/img/icons/in-icon.png" /></a>
                </div>

            </div>
            <!-- End About Diego -->
            <!-- About Andrea -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive" src="img/970x647/02.jpg" alt="Andrea">
                </div>
                <h4>Andrea<span class="text-uppercase margin-l-20">Frontend developer</span></h4>
                <p>Gaming, programming and cats.</p>
                <div class="icons">
                    <a href="https://twitter.com/Snvfyy"><img class="icon" src="~/img/icons/tw-icon.png" /></a>
                    <a href="https://www.linkedin.com/in/andreamarinosa/"><img class="icon" src="~/img/icons/in-icon.png" /></a>
                </div>
            </div>
            <!-- End Latest Products -->
            <!-- About Lucas -->
            <div class="col-sm-4 sm-margin-b-50">
                <div class="margin-b-20">
                    <img class="img-responsive" src="img/970x647/03.png" alt="Lucas">
                </div>
                <h4>Lucas<span class="text-uppercase margin-l-20">Fullstack developer</span></h4>
                <p>I like to code, the majority, useless things.</p>
                <div class="icons">
                    <a href="https://twitter.com/OverflowEx"><img class="icon" src="~/img/icons/tw-icon.png" /></a>
                    <a href="https://www.linkedin.com/in/kaczynskidev/"><img class="icon" src="~/img/icons/in-icon.png" /></a>
                </div>
            </div>
            <!-- End About Lucas -->
        </div>
        <!--// end row -->
    </div>
</div>
<!-- End About us -->
<!--========== END PAGE LAYOUT ==========-->