.search-link-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

    background-color: white;
    color: black;
    border: 2px solid #555555;
}

.search-link-button:hover {
    background-color: #555555;
    color: white;
}

.text-search-input {
    font-size: 25px;
}
